// Colors
$white: #ffffff;
$black: #000000;
$gray-600: #9597a5;
$gray-100: #f4f5f7;
$gray-50: #fafafa;
$blue-950: #2d314d;
$green-400: #30c88f;
$gradient-1: linear-gradient(
  180deg,
  rgba(51, 211, 94, 1) 0%,
  rgba(42, 182, 217, 1) 100%
);
$gradient-2: linear-gradient(
  180deg,
  rgba(45, 49, 77, 1) 0%,
  rgba(45, 49, 77, 0) 100%
);

// Spacing
$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-700: 3.5rem;
$spacing-800: 4rem;
$spacing-900: 4.5rem;
$spacing-1000: 5rem;
$spacing-1500: 7.5rem;
